*{

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{

    background-color: violet;

}

.progressbar-container{

    width: 200px;
    height: 200px;
    margin: 100px auto; 

}

.progressbar-container .outer-box{

    border-radius: 50%;
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;    
    justify-content: center;

}

.progressbar-container .inner-box{

    background-color: white;
    font-size: 24px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;    
    justify-content: center;

}

.progressbar-container svg{

    position: absolute;     /*Pone los elementos,en este caso el inner y el outer centrados*/

}

.progressbar-container circle{

    fill: none;     /*relleno vacio*/
    stroke: url(#gradientC); /*tipo de border*/
    stroke-width: 20px;

    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: loading 3s linear forwards;

}

@keyframes loading {
    100%{
        stroke-dashoffset: 0;
    }
}

.progressbar-container circle.segundo{

    fill: none;     /*relleno vacio*/
    stroke: url(#gradientC); /*tipo de border*/
    stroke-width: 20px;

    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: loadingdos 3s linear forwards;

}

@keyframes loadingdos {
    100%{
        stroke-dashoffset: 200;
    }
}

.progressbar-container circle.tercero{

    fill: none;     /*relleno vacio*/
    stroke: url(#gradientC); /*tipo de border*/
    stroke-width: 20px;

    stroke-dasharray: 550;  /*255*/
    stroke-dashoffset: 550;
    animation: loadingtres 3s linear forwards;

}

@keyframes loadingtres {
    100%{
        stroke-dashoffset: 300;
    }
}