.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{

    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}

.search-bar{

    border: solid 1px #ccc;
    border-radius: 30px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin: 100px auto;
    transition: all .3s ease-in-out;    /*animacion de la que cae la barra :3*/

}

.search-bar:focus-within{   /*Cuando lo seleccione*/

    border: solid 1px #999;
    box-shadow: 0 2px 5px #ccc; /*los 5px son de difuminado*/

}

.search-bar input[type="text"]{

    border: none;   /*quitar borde*/
    outline: none;  /*quitar el que se subraye el input*/
    padding: 10px;
    flex: 1;        /*abarque la mayor parte del contenedor/espacio(porque es un flex)*/
    font-size: 18px;    
    
}

.search-bar .actions{

    display: flex;
    gap: 5px;

}

.search-bar .actions button{

    border: none;
    background-color: white;
    cursor: pointer;    /*cambie a la manita :D*/
    color: #999;

    transition: color 0.3s ease-in-out;

}

.search-bar .actions button:hover{

    color: aquamarine;

}