body{

    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.collapsed{

    display: none;

}

nav{

    background-color: #000;
    color: #fff;
    width: 100%;

}

nav a{

    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;

}

nav a:hover{

    color: black;
    background-color: #f2c032;

}

nav .mobile{

    display: none;

}

nav .mobile .header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;

}

nav .mobile .header .more button{

    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

}

nav .logo{

    min-width: 250px;

}

nav .desktop{

    display: flex;
    justify-content: space-between; /*alinea de forma horizontal*/
    align-items: center;    /*centrar*/
    padding: 0 20px;

}

nav .desktop .primary, nav .desktop .secondary{

    display: flex;

}

nav .desktop .secondary.mini{

    display: none;

}

@media screen and (max-width: 835px){
    nav .logo{
        min-width: 75px;
    }

    nav .secondary.full{
        display: none;
    }

    nav .secondary.mini{
        display: block !important;
    }

    nav .secondary.mini .submenu{
        background-color: #000;
        position: absolute; /*menu emergente*/
        display: none;
        width: 170px;
        right: 0;
    }

    nav .secondary.mini:hover .submenu{
        display: block;   
    }


}

@media screen and (max-width: 500px) {

    nav .desktop{
        display: none;
    }

    nav .mobile{
        display: block;
    }

}

