body{

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.header{

    text-align: center;

}

.container{ /*todos*/

    display: flex;      /*Aparecer en linea*/
    gap: 10px;
    padding: 10px;

}

.container .primer{

    padding-left: 100px;

}

.container .flip-card{  /*cada uno*/

    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;      /*Saber la apertura(Como si se tuviera una camara en 3D, que tan lejos o cerca)*/

}

.container .flip-card .flip-card-inner{ /*contenido interno*/

    position: relative;     /**/
    width: 100%;
    height: 100%;
    text-align: center; /*vertical*/
    transition: transform .3s ease-in-out;
    transform-style: preserve-3d;   /*Definir como seran rendereados(ya sea como el padre o modificarlo)*/

}

.container .flip-card .flip-card-inner p{

    text-align: justify;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

.container .flip-card:hover .flip-card-inner{        /*cada uno(cuando pase el cursor)*/

    transform: rotateY(180deg);     /*gira de forma vertical*/

}

.container .flip-card .flip-card-front,  
.container .flip-card .flip-card-back{  /*APlicar estilo para la cara frontal y trasero*/

    position: absolute;     /*Para que sea relativa a su padre,tomando de refenrencia "" -inner*/
    width: 100%;    /*Cubriendo todo su contenedor padre*/
    height: 100%;
    backface-visibility: hidden;  /*voltear elemento y decidir si sera bisible o no. hiden es oculto*/

}

.container .flip-card .flip-card-front{

    background-color: whitesmoke;

}

.container .flip-card .flip-card-back{

    background-color: brown;
    color: whitesmoke;
    transform: rotateY(180deg);     /*Capa trasera rotada, por el backface: visibility*/

}

img{

    width: 100%;
    height: auto;    

}