body{

    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: brown;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.price-table-container{

    width: 900px;
    display: flex;  /*que esten en linea*/
    align-items: center;    /*alinear de forma vertical*/
    margin: 100px auto;

}

.price-table-container .table{  /*para cada tabla*/

    width: 300px;
    height: 400px;
    padding: 30px;
    box-sizing: border-box; /*no romper la caja*/
    position: relative;     /*para elementos flotantes*/
    background-color: white;
    display: flex;  /*para el texto*/
    flex-direction: column; /*texto en columna*/
    z-index: 100;   /**/
    gap: 10px;  /*todas las capas como stack*/

}

.price-table-container .table:first-child{  /*selecciona la primera tabla*/

    border-radius: 10px 0 0 10px;

}

.price-table-container .table:last-child{  /*selecciona la ultima tabla*/

    border-radius: 0 10px 10px 0;

}

.price-table-container .table.recommended{  /*junto para especificar debe tener las dos clases*/

    height: 500px;
    border-radius: 10px;
    padding: 50px 30px 60px 30px;
    z-index: 200;   /*tabla que sobresaldra*/

    box-shadow: 0 0 20px #333;
}

.price-table-container .table .title{

    font-weight: bold;
    text-align: center;
    font-size: 20px;

}

.price-table-container .table .price{

    display: flex;
    justify-content: center;    /*Alinearlo horizontalmente al centro*/
    align-items: center;        /*Alinearlo verticalmente al centro*/
    gap: 2px;   /*distyancia entre cada elemento*/

}

.price-table-container .table .price .currency{

    font-size: 25px;

}

.price-table-container .table .price .number{

    font-size: 60px;
    font-weight: bold;

}

.price-table-container .table .price .frecuency{

    color: #999;

}

.price-table-container .table .features{

    flex: 1;    /*mas relevancia*/

}

.price-table-container .table .features ul{

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;      /*distancia entre cada elemento*/

}

.price-table-container .table .features ul li{  

    display: flex;
    align-items: center;    /*en las 3 alineando el icono con el texto*/
    gap: 5px;

}

.price-table-container .table .features ul li span.check_circle{  /*cambiar el color*/
    
    color: rgb(48, 201, 48);

}

.price-table-container .table .actions .btn{

    display: block;
    text-align: center;
    padding: 20px 0;
    border: solid 1px #ccc;
    border-radius: 2px;
    text-decoration: none;
    color: #999;
    text-transform: uppercase;  /*a mayusculas*/

}

.price-table-container .table .actions .btn:hover{

    background-color: rgb(9, 70, 91);
    color: white;

}

.price-table-container .table .actions .btn.recommended{

    background-color: rgb(10, 88, 115);
    color: white;
    border: 1px solid white;

}

.price-table-container .table .actions .btn.recommended:hover{

    background-color: rgb(9, 70, 91);
    color: white;

}