body{

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.cards{

    display: flex;  /*aparecer en linea*/
    width: 130%;
    padding: 50px;

}

.cards .card{

    background: #333;
    color: wheat;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box; /*no perder dimensiones*/
    position: relative; /*ayuda a no tener problemas de layout*/
    display: flex;
    flex-direction: column;

    transition: all 0.3s ease;
    box-shadow: -3px 0 10px #1d1d1d;
}

.cards .card a{

    color: yellow;
    text-decoration: none;
    font-weight: bold;

}

.cards .card a:hover{

    color: grey;
    text-decoration: none;
    font-weight: lighter;

}

.cards .card .header{

    flex: 1;    /*header ocupe el mayor esoacio del contenedor*/

}

.cards .card:hover{

    margin-right: 80px;
    transform: rotate(3deg) translateY(-15px);

}

.cards .card .header .date{

    padding: 10px 0;

}

.cards .card .header .title{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;

}

.cards .card[class*="ele"]{

    margin-left: -100px;

}

img{

    width: 25px;
    border-radius: 10%;
    padding-right: 5px;
    align-items: center;

}

