*{

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.trabajos{

    background-color: #333;
    padding: 50px;
    width: 90%;

}

.trabajos a{

    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;

}

.trabajos a:hover{

    background-color: #f2c032;
    font-weight: bold;

}

li{

    display: block;
    padding: 10px;
    font-size: 15px;

}

#contenedor{

    width: 98%;
    margin-top: 50px;

}

header{

    width: 96.8%;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    background-color: #0f0f0f;
    font-weight: bold;
    color: white;
    font-size: 30px;

}

footer{

    width: 97.9%;
    padding: 20px;
    background-color: #0f0f0f;
    font-weight: bold;
    color: white;
    margin-top: 20px;

}