body{

    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    /*arriba y abajo: para centrar el body*/
    justify-content: center;
    height: 100vh;  /*cubrir todo el ancho*/

    background-color: coral;
}

.formaCon{

    background-color: white;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;   /*Que el radio se mantenga intacto*/
    height: 90%;
    display: flex;
    align-items: center;    /*entrar en height*/

}

.formaCon .loginCon{

    width: 500px;
    margin: 0 auto;

}

.formaCon .loginCon >h2{

    text-align: center;
    font-size: 2.5rem;

}

.formaCon .loginCon >p,
span{

    text-align: center;
    color: #555;

}

.formaCon .loginCon label{

    display: block; /*ocupar todo el ancho*/
    font-weight: bold;
    padding: 5px 0;

}

.formaCon .loginCon input.input{    /*sleccionando input de clase input*/

    display: block;
    width: 100%;
    box-sizing: border-box; /*adecuarse al contenedor*/
    padding: 7px;
    border: #767575 solid 1px;
    border-radius: 5px;

}

.formaCon .loginCon input.input:focus{  /*input cuando tiene el foco*/

    outline: solid 2px coral;

}

.formaCon .loginCon .options{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.formaCon a{

    color: coral;
    text-decoration: none;

}

.formaCon a:hover{

    color: coral;
    text-decoration: none;
    font-weight: bolder;

}

.btn{

    border: none;
    padding: 15px 0;
    width: 100%;
    color: white;
    font-weight: bolder;
    display: block;     /*ocupe todo el ancho*/
    border-radius: 5px;
    text-transform: uppercase;  /*Poner todo en mayuscula*/
    cursor: pointer;

}

.btn-login{

    background-color: black;

}

.btn-google{

    background-color: red;

}

.btn-facebook{

    background-color: rgb(10, 10, 247);

}

.btn-twitter{

    background-color: rgb(13, 142, 174);

}

.btn-login:hover{

    background-color: #444;

}

.btn-google:hover{

    background-color: rgb(254, 97, 97);

}

.btn-facebook:hover{

    background-color: rgb(88, 88, 250);

}

.btn-twitter:hover{

    background-color: rgb(76, 156, 176);

}

.formaCon .welcome-screen-container{

    background-image: url('/img/7234.jpg');
    height: 100%;
    width: 50%;

}

@media screen and (max-width: 1403px) {
    .formaCon{
        width: 95%;
    }
    .formaCon .loginCon{
        width: 400px;
        margin: 0 auto;
    }

}

@media screen and (max-width: 1000px) {
    .formaCon .welcome-screen-container{
        width: 40%;
    }
    

}

@media screen and (max-width: 900px) {
    .formaCon{
        height: 90%;
    }

    .formaCon .loginCon{
        width: 350px;
    }

    .formaCon .welcome-screen-container{

        display: none;
    }
}

@media screen and (max-width: 430px) {
    .formaCon{
        width: 90%;
    }

    .formaCon{
        height: 92%;
    }
    .formaCon .loginCon{
        width: 250px;
        margin: 0 auto;
    }
}