.material-symbols-outlined {
  font-variation-settings:
  'FILL' 200,
  'wght' 400,
  'GRAD' 100,
  'opsz' 24,

}

#tamaño{

    font-size: 48px;

}

body{

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.notification{

    width: 50px;
    margin: 100px auto; /*centrarlo*/

    animation: ring 4s 0.7s ease-in-out infinite;
    transform-origin: 50%; /*crear un ancla desde donde sera las rotaciones*/

}

.notification .count{

    --size: 30px;   /*variable disponible solo en este estilo*/
    font-size: 12px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: solid 2px white;
    display:inline-flex;    
    align-items: center;
    justify-content: center;
    width: var(--size);     /*tomando las medidas de la variable*/
    height: var(--size);
    max-width: var(--size);     /*lo maximo en altura y anchura*/
    max-height: var(--size);
    box-sizing: border-box;     /*para que se quede estatico*/
    position: relative;
    border-radius: 50%;
    top: 20px;

}

@keyframes ring {
    
    0%{
        transform: rotate(0deg);
    }
    1%{
        transform: rotate(28deg);
    }
    3%{
        transform: rotate(-28deg);
    }
    5%{
        transform: rotate(30deg);
    }
    7%{
        transform: rotate(-30deg);
    }
    9%{
        transform: rotate(28deg);
    }
    11%{
        transform: rotate(-26deg);
    }
    13%{
        transform: rotate(26deg);
    }
    15%{
        transform: rotate(-24deg);
    }
    17%{
        transform: rotate(24deg);
    }
    19%{
        transform: rotate(-22deg);
    }
    21%{
        transform: rotate(22deg);
    }
    23%{
        transform: rotate(-20deg);
    }
    25%{
        transform: rotate(20deg);
    }
    27%{
        transform: rotate(-18deg);
    }
    29%{
        transform: rotate(18deg);
    }
    31%{
        transform: rotate(-15deg);
    }
    33%{
        transform: rotate(14deg);
    }
    35%{
        transform: rotate(-11deg);
    }
    37%{
        transform: rotate(11deg);
    }
    39%{
        transform: rotate(-8deg);
    }
    41%{
        transform: rotate(6deg);
    }
    43%{
        transform: rotate(-4deg);
    }
    100%{
        transform: rotate(0);
    }
}
