body{

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

table{

    border-spacing: 0;  /*tener especio entre bordes*/
    border-collapse: collapse;  /*borde fino*/
    width: 900px;
    margin: 100px auto;
    
}

td, th{

    border: solid 1px #7a7878;
    font-size: 17px;
    padding: 5px;

}

tr:nth-child(even){

    background-color: #b0adad;

}

td:nth-child(n + 1),
th:nth-child(n + 1){

    text-align: center;

}

tbody tr:hover{

    background-color: aquamarine !important;

}

thead{

    background-color: #000;
    color: #fff;
    position: sticky;
    top: 0;

}